{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "google"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ]
}